<div>

    <header class="p-3 border-bottom">
        <h1 class="text-center m-0">
            Cotações
        </h1>
    </header>

    <main class="pt-4 pb-4 container">

        <div *ngIf="data">
            <p>
                Você está visualizando a página com integração direta na API da <b>VAT comply</b>, <a [routerLink]="['/com_api']">clique aqui</a> para acessar
                a página com integração na sua API local.
            </p>
            
            <app-charts [rates]="data"></app-charts>   
        
        </div>

        <div *ngIf="loadingRates">
            <div class="loading-spinner">
                <div class="spinner-border" role="status"></div>
            </div>
        </div>

        <p *ngIf="!data && !loadingRates">Não foi possível carregar as informações do gráfico. Por favor, tente novamente mais tarde.</p>
    </main>

</div>