<div>

    <header class="p-3 border-bottom">
        <h1 class="text-center m-0">
            Cotações
        </h1>
    </header>

    <main class="pt-4 pb-4 container">

        
        <div *ngIf="!loadingRates; else loading">
            <button (click)="changeSelectedCurrency('EUR')">EUR</button>

            <button (click)="changeSelectedCurrency('BRL')">BRL</button>
    
            <button (click)="changeSelectedCurrency('JPY')">JPY</button>
    
            <highcharts-chart
                *ngIf="!loadingRates"
                [Highcharts] = "highcharts" 
                [options] = "chartOptions" 
                style = "width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>

        <ng-template #loading>
            <div class="loading-spinner">
                <div class="spinner-border" role="status"></div>
            </div>
        </ng-template>

    </main>

</div>