<div class="Chart">
    <div class="Chart_Header">
        <div class="Tabs">
            <button title="Adicionar nova moeda" class="Tabs_AddButton" (click)="createNewTab()">
                <span>+</span>
            </button>

            <button *ngFor="let tab of tabs; let i = index"
                [title]="tab"
                class="Tabs_Tab"
                [ngClass]="{ active: selectedCurrency == tab }"
                (click)="changeSelectedCurrency(tab)"
            >
                <input 
                    #inputToFocus 
                    *ngIf="!tab; else currencyValue" 
                    class="Tabs_Input" maxlength="3" 
                    type="text"
                    (keyup)="updateSuggestionList()"
                >
                <ul *ngIf="!tab" class="suggestionList">
                    <li *ngFor="let currency of suggestionList" (click)="selectOnSuggestionList(currency, i)">{{ currency }}</li>
                    <span *ngIf="!suggestionList.length">Nenhum resultado encontrado</span>
                </ul>
                <ng-template #currencyValue>{{ tab }}</ng-template>
                <button [title]="'Deletar ' + tab" *ngIf="![0, 1, 2].includes(i)" class="Tabs_DeleteButton" (click)="deleteTab(i)"><span>x</span></button>
            </button>
        </div>
    </div>

    <highcharts-chart
        class="Chart_Body"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions">
    </highcharts-chart>

    <div class="Chart_Footer"></div>
</div>
    