.Chart {
    position: relative;
    padding: 25px 0;

    .Chart_Header {
        position: absolute;
        top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #2B2B2B;
        width: 100%;
        height: 85px;
        padding: 15px;
        z-index: 100;
        
        .Tabs {
            background-color: #4d4d4d;    
            border-radius: 5px;
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            overflow-x: auto;
            overflow-y: hidden;

            .Tabs_Input {
                background-color: transparent;
                color: #858585;
                max-width: 40px;
                text-transform: uppercase;
                border: none;
                font-weight: bold;

                &:focus {
                    outline: none;
                }
            }

            .Tabs_Tab {
                display: flex;
                flex-direction: row;
            }

            .Tabs_AddButton {
                background-color: #858585;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                transition: 0.7s;

                span {
                    align-self: center;
                    color: #2B2B2B;
                }

                &:hover { 
                    background-color: rgb(209, 209, 209);    
                }
            }

            .Tabs_DeleteButton {
                margin-left: 8px;
                background-color: #858585;
                height: 14px;
                width: 14px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                transition: 0.7s;

                span {
                    align-self: center;
                    color: #2B2B2B;
                    font-size: 10px;
                }

                &:hover { 
                    background-color: rgb(209, 209, 209);    
                }
            }

            button {
                margin-right: 5px;
                background-color: transparent;
                border: #2B2B2B;
                background-color: #2B2B2B;
                padding: 5px;
                font-weight: bold;
                color: #858585;
                border-radius: 5px;
                align-self: center;

                &.active {
                    border-bottom: 2px solid white;
                    color: white;
                }
            
            }

            /* width */
            &::-webkit-scrollbar {
                height: 8px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #353535; 
                border-radius: 10px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #2B2B2B; 
            }
        }
    }

    .Chart_Body {
        width: 100%; 
        height: 550px; 
        display: block;
    }
    
    .Chart_Footer {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: #2B2B2B;
        z-index: 100;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

