<div class="Chart">
    <div class="Chart_Header">
        <div class="Tabs">
            <button class="Tabs_AddButton" (click)="createNewTab()">
                <span>+</span>
            </button>

            <button *ngFor="let tab of tabs; let i = index"
                class="Tabs_Tab"
                [ngClass]="{ active: selectedCurrency == tab.currency }"
                (click)="changeSelectedCurrency(tab.currency)"
            >
                <input *ngIf="!tab.currency; else currencyValue" (change)="updateTabValue(i, $event)" class="Tabs_Input" maxlength="3" type="text">
                <ng-template #currencyValue>{{ tab.currency }}</ng-template>
                <button class="Tabs_DeleteButton" (click)="deleteTab(i)"><span>x</span></button>
            </button>
        </div>
    </div>

    <highcharts-chart
        class="Chart_Body"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions">
    </highcharts-chart>

    <div class="Chart_Footer"></div>
</div>
    